<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <main>
      <table>
        <thead>
          <tr>
            <th>sites</th>
            <th>views</th>
            <th>clicks</th>
            <th>average</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>google</td>
            <td>9786</td>
            <td>6789</td>
            <td>01:32:50</td>
          </tr>
          <tr>
            <td>twitter</td>
            <td>2374</td>
            <td>7895</td>
            <td>00:51:22</td>
          </tr>
          <tr>
            <td>amazon</td>
            <td>6677</td>
            <td>234</td>
            <td>00:24:34</td>
          </tr>
          <tr>
            <td>linkedin</td>
            <td>9786</td>
            <td>6789</td>
            <td>00:46:19</td>
          </tr>
          <tr>
            <td>github</td>
            <td>5789</td>
            <td>456</td>
            <td>00:30:19</td>
          </tr>
          <tr>
            <td>yahoo</td>
            <td>9879</td>
            <td>5674</td>
            <td>00:87:19</td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
